<!doctype html>
<html>
<head>
<title>ai-one nathan</title>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
    <button id="go">Go</button>
    <button id="delete">Delete</button>
    <div id="result"></div>
    <script language="javascript">
    $(document).ready(function() {
        
        function try_load_fp(url) {
            (function poll() {
                $.ajax({
                    type : "GET",
                    url: url,
                    statusCode: {
                        200: function(data) {
                            if (data.status === "processing") {
                                $("#result").html(data.message);
                                setTimeout(poll, 200);
                            } else {
                                $.get(data.url, function(data) {
                                    $("#result").html( data );
                                });
                            }
                        }
                    }
                });
            })();
        }
        
        $("#delete").click(function() {
            $.ajax({
                type : "DELETE",
                url: "http://192.168.2.3:5000/fp/1",
                successful: function(data) {
                    $("#result").html("deleted");
                }
            });
        });
        
        $("#go").click(function() {
            $.ajax({
                type : "POST",
                url: "http://192.168.2.3:5000/fp",
                contentType: "application/json",
                data: null,
                statusCode: {
                    404: function() { alert("404"); },
                    201: function(data, code, req) {
                        url = req.getResponseHeader("Location");
                        $.get(url, function(data) {
                            $( "#result" ).html(data);
                        });
                    },
                    202: function(data, code, req) {
                        try_load_fp(req.getResponseHeader("Location"));
                    }
                }
            });
        });
    });
    </script>
</body>
</html>